@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import "tailwindcss";
@custom-variant dark (&:is(.dark *));

@theme {
  --color-main: #1A2423;
  --tw-color-primaryFill: #FAFAFA;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1440px;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  height: 100%;
  width: 100%;
  color: var(--tw-color-primaryFill);
  overflow-x: hidden;
  overflow-y: auto;
  background-color: var(--primaryFill);
  min-width: 100% !important;
}

html > body[data-scroll-locked] {
  overflow: visible !important;
  margin-right: 0 !important;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

#root {
  max-width: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  height: 100% !important;
  width: 100% !important;
}